body{
    font-family: 'Roboto Mono', ;
  }
  
  ul{
    list-style-type: none;
  }
  
  .navbar{
    overflow: hidden;
    margin-right: 0rem;
    margin-bottom: .5rem;
    padding: 1rem;
  }
  
  .navbar a{
    color: black;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-img{
    float: left;
  }
  
  .navbar-contact{
    float: right;
  }
  
  .btn-primary{
    border-radius: 5px;
    border-color: dodgerblue;
    border-style: solid;
    border-width: .2rem;
  }
  
  .jumbotron {
    color: white;
    background-color: dodgerblue;
    text-align: center;
    border-color: red;
    border-width: 5px;
    border-radius: 10px;
    padding: 1.5rem;
  }
  
  .about{
    align-items: center;
    justify-content: center;
  }
  
  .primary-btn{
    
  }